{% extends 'security/admin.html.twig' %}
{% block adminContent %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-8">Bienvenue sur votre dashboard</h1>
            <p class="lead">Vous pouvez gérer vos produits ainsi que vos utilisateurs depuis la navbar de gauche</p>
        </div>
    </div>
{% endblock %}