{% extends 'security/admin.html.twig' %}
{% block adminContent %}
    <div class="col-md-9">
        <h2>Bienvenue sur votre dashboard</h2>
        <p>Vous pouvez gérer vos produits ainsi que vos utilisateurs depuis la navbar de gauche</p>
    </div>
{% endblock %}