{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3" id="form_add_product">
                {{ form(form) }}
                {#FIXME Pouvoir modifier le role#}
            </div>
        </div>
    </div>
{% endblock %}