.container-fluid{
    margin: 0;
    padding: 0;
}
#main_content{
    min-height: calc((100vh - 732px) - 75px);
}
.navbar {
    height: 75px;
    text-transform: uppercase;
}
.navbar span {
    font-size: 1em;
}
.navbar ul{
    margin-left: 3em;
}
#navbar_left li {
    margin: 2.4em 1em 0 0;
}
#navbar_left li a {
    border-bottom: 2px solid transparent;
}
#navbar_left li a:hover {
    border-bottom: 2px solid orange;
}
.navbar, .home_jumb {
    font-family: "Brandon Grotesque", Arial;
}
#loginModal{
    color: #fff;
}
#home_jumb {
    background: url(../img/bg_jumb_home.jpg) no-repeat center;
    height: 460px;
    width: auto;
    background-color: #020A14;
    color: #FFF;
    margin: 0;
}
#banniere_index{
    margin-top: 2em;
}
#about_about{
    padding-top: 3em;
    min-height: 100vh;
}
#box_caps_index div{
    padding: 1em;
    margin: 0;
}
#box_caps_index img {
    margin-top: 4em;
    filter: contrast(80%);
}
#box_caps_index img:hover {
    filter: contrast(100%);
}
#index_banniere_caps{
    padding: 1em;
    margin: 5em 0;
    filter: contrast(80%);
}
#index_banniere_caps:hover{
    filter: contrast(100%);
}
#index_footer, #index_footer a {
    color: #FFF;
}
#index_footer .fa-search {
    position: absolute;
    margin: 1.3em 0 0 -1.5em;
}
#index_footer input {
    margin: 2em 0 0 0;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: 1px solid grey;
    caret-color: grey;
    color: #FFF;
}
#index_footer input{
    outline: none;
}
.index_footer_div{
    padding: 2em 0;
}
.index_footer_div a,  .index_footer_div i,  .index_footer_div p{
    margin: .5em;
}
.index_footer_div h2{
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Brandon Grotesque", Arial;
    font-weight: 400;
}
.index_footer_div p{
    font-size: 14px;
    font-family: "Brandon Grotesque", Arial;
    font-weight: 200;
}
.index_footer_div{
    height: 200px;
}
#index_footer_div_1 :nth-of-type(1) i {
    color: #FF6347;
}
#index_footer_div_1 :nth-of-type(2) i {
    color: #FFD047;
}
#index_footer_div_1 :nth-of-type(3) i {
    color: #AECC5B;
}
#index_footer_div_2 :nth-of-type(1) i {
    color: #ED486F;
}
#index_footer_div_2 :nth-of-type(2) i {
    color: #4D8ACE;
}
#index_footer_div_2 :nth-of-type(3) i {
    color: #977DCC;
}
.index_footer_div div > p{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#index_footer_logo{
    margin: 2em 0;
}
#footer_footer {
    background-color: #000;
    color: #fff;
}
#footer_footer > div {
    padding: 2em;
}
#footer_footer > div .row > div p{
    padding: 0;
    margin: 0;
}
#footer_footer a {
    color: #fff;
}
#footer_footer h3 {
    font-size: 14px;
}
#footer_footer p {
    font-size: 10px;
}
#cgv {
    padding: 5em 0;
}
#cgv p{
    font-size: 14px;
}
#cgv h2 {
    font-size: 18px;
}
#cgv h3 {
    font-size: 16px;
}
#legalsMentions {
    padding: 5em 0;
}

/*style album pour page produits*/
:root {
    --jumbotron-padding-y: 3rem;
}
.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}
.jumbotron p:last-child {
    margin-bottom: 0;
}
.jumbotron-heading {
    font-weight: 300;
}
.jumbotron .container {
    max-width: 40rem;
}
footer p {
    margin-bottom: .25rem;
}

/*Details produits*/
#product_detail{
    margin: 4em auto;
}
#form_add_product{
    margin: 3em auto;
}
#block_caps .shadow-sm{
    height: 450px;
    width: auto;
}
#block_caps .shadow-sm #cardTitle{
    font-weight: bold;
}
#block_caps .shadow-sm .card-body{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*ALERT*/
.alert{
    margin: 0 auto;
    padding: 0 auto;

}
/* FORM SIGNIN */
#footer_modal_inscription h3{
    margin: auto;
}

/*ADMIN*/
#row_admin{
    padding: 0;
    margin: 0;
}

/*Connect, panier, logout*/
.navbar-nav .fas {
    color: orange;
}
#paginationProducts{
    margin: 3em auto;
}

/*Btn category Products*/
.btnCatProd{
    background-color: dodgerblue;
}