{% extends('base.html.twig') %}

{% block body %}
    <div class="container" id="about_about">
        <h2 class="text-center">Qui sommes-nous ?</h2>
        <p>Créée en 2009, Headict est née de l’envie d’établir la place de référence pour la culture headwear moderne et d’accompagner son grand retour sur la scène fashion. Avec une vision résolument novatrice, nous nous sommes tournés vers internet pour proposer une offre qualitative, exhaustive et accessible à tous depuis son ordinateur, sa tablette ou son Smartphone. Headict propose en permanence les marques et produits headwear de référence qui font la mode du moment.Un soin particulier a été porté à la sélection des produits et des marques distribuées. Headict propose également la personnalisation de produits avec broderie 3D ou gravure laser sur patch en cuir.</p>
        <em>Découvrez également notre shop à Annecy (74), 19 rue Filaterie (voir les horaires d'ouverture)</em>

        <div class="center">
            <iframe src="//player.vimeo.com/video/72729023?title=0&byline=0&portrait=0&color=ff6346" frameborder="0" width="100%" height="600"></iframe>
        </div>
    </div>
{% endblock %}