{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" id="cgv">
        <div class="text-center">
            <h1>Conditions générales de vente</h1>
            <p><em>Prenez un café - détendez-vous et plongez dans cette page avec passion.</em></p>
        </div>
        <div class="row">
            <h2>1. Identification du vendeur</h2>
        </div>
        <div class="row">
            <p>Société HEADICT SAS <br>
            Société par Actions Simplifiées au capital de 15 000 euros <br>
            Siège social 17 rue des ateliers - 74600 SEYNOD <br>
            Immatriculée au RCS d'Annecy sous le numéro 51230186200029.</p>
        </div>
        <div class="row">
            <H2>2. Application des conditions générales de ventes</H2>
            <p>La commande par le Client implique l'acceptation de l'intégralité des présentes conditions générales.</p>
        </div>
        <div class="row">
            <h2>3. Validités des offres</h2>
            <p>Nos offres s'adressent à des consommateurs disposant d'une adresse de livraison physique en Europe et en Amérique du nord. Les articles visibles sur le site sont disponibles jusqu'à l'épuisement des stocks. La durée de validité des offres et du prix est garantie sous 8 jours.  En cas de débit ou d'encaissement visant la commande d'un article indisponible, HEADICT.COM s'engage à proposer un avoir ou à rembourser le Client dans un délai de 15 jours. HEADICT.COM s'engage à prévenir par courrier électronique le Client qui aurait passé commande d'un article indisponible.</p>
        </div>
        <div class="row">
            <h2>4. Présentation des produits</h2>
            <p>Les produits proposés à la vente sont ceux décrits sur le Site. La Société HEADICT apporte le plus grand soin dans la présentation et la description de ces produits pour satisfaire au mieux l’information du Client. Il est toutefois possible que des erreurs non substantielles puissent figurer sur le Site, ce que le client reconnaît et accepte. En tout état de cause, en cas de non-conformité du produit livré par rapport à son descriptif sur le Site, le Client pourra soit, exercer son droit de rétractation, soit mettre en œuvre la garantie de conformité de la Société HEADICT qui procédera, le cas échéant, soit à l’échange soit au remboursement du prix (en tout ou partie) éventuellement facturé.</p>
        </div>
        <div class="row">
            <h2>5. Prix des produits</h2>
            <p>Les prix sont présentés en euros (€) toutes taxes comprises. Le montant de la TVA est indiqué lors de la sélection d'un produit par le Client. Si le taux de TVA venait à être modifié, ces changements pourront être répercutés sur le prix des articles sans que le client en soit préalablement informé.</p>
        </div>
        <div class="row">
            <h2>Commande et paiement sécurisé</h2>
        </div>
        <div class="row">
            <h3><b>6.1 : Paiement</b></h3>
            <p>Le client valide sa commande comme dit ci-après. Cette validation entraîne l'acceptation des présentes conditions générales de vente. Le client intéressé par un article visible sur le site HEADICT.COM suit le processus suivant afin d'établir sa commande. Après avoir cliqué sur l'icône « confirmer » et après avoir vérifié les spécificités de sa commande (couleur, quantité, taille, prix, etc…), le client valide le choix du ou des produits sélectionnés par un clic. Si le client bénéficie d'une offre spéciale, il doit, préalablement saisir un code qui lui aura été attribué dans le champ prévu à cet effet. Lors de sa première commande, le client a un formulaire à remplir contenant les mentions suivantes : civilité, nom, prénom, adresse complète de livraison, email, date de naissance, numéro de téléphone. A cette occasion le client crée son mot de passe. Le client a la faculté de payer par carte bancaire directement sur le site. Après avoir validé son mode de paiement, le client valide définitivement et irrévocablement sa commande avec les effets ci-après indiqués. o Paiement par carte bancaire sur le site Le Client valide son adresse de livraison et de facturation, le produit et le prix total. Il fournit le numéro de sa carte bancaire associé à la date d'expiration et au code CVX. Il valide finalement sa commande en cliquant sur le bouton « Confirmer » o Paypal Avec PayPal vos informations financières ne sont jamais communiquées à HEADICT.COM. PayPal crypte et protège votre numéro de carte une fois pour toutes. Payez en ligne en indiquant simplement votre adresse email et votre mot de passe.</p>
            <h3><b>6.2 : Défaut de paiement</b></h3>
            <p>HEADICT.COM se réserve le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un consommateur qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d'administration.</p>
            <h3><b>6.3 : Vérification des paiements</b></h3>
            <p>HEADICT.COM contrôle toutes les commandes qui ont été validées sur son site. Ces contrôles visent à protéger HEADICT.COM de pratiques abusives opérées par des fraudeurs. Nos services pourront être amenés à vous demander toutes les pièces nécessaires au déblocage de votre commande : justificatifs de domicile ou de débit à votre nom, ou encore justificatif de domicile au nom de la personne indiquée pour l'adresse de livraison etc... Ces demandes seront faites par courrier électronique : - Pour une commande qui présente une adresse de livraison différente de l'adresse de facturation - Pour les nouveaux clients - Pour une commande supérieure à 150 Euros</p>
        </div>
        <div class="row">
            <h2>7. Sécurité des paiements</h3>
            <p>Afin d'assurer la sécurité des paiements, le site HEADICT.COM utilise le service de paiement sécurisé de la banque SOCIETE GENERALE. Ce service intègre la norme de sécurité SSL. Les données confidentielles (le numéro de carte bancaire à 16 chiffres ainsi que la date d'expiration, le code CVX) sont directement transmises cryptées sur le serveur de la banque sans transiter sur les supports physiques du serveur HEADICT.COM. Lorsque la commande est validée : La demande de paiement est routée en temps réel sur le gestionnaire de télépaiement sécurisé. Celui-ci adresse une demande d'autorisation au réseau carte bancaire. Le gestionnaire de télépaiement délivre un certificat électronique qui vaudra preuve du montant et de la date de la transaction conformément aux dispositions des articles 1316 et suivants du code civil.</p>
        </div>
        <div class="row">
            <h2>8. Identification</h2>
            <p>Le Client ayant déjà effectué un achat sur le site HEADICT.COM peut choisir un mot de passe lui permettant, lors des commandes ultérieures, de ne pas avoir à remplir une nouvelle fois les formulaires préalables à la passation de la commande. Le Client déjà inscrit est reconnu sur le site comme étant un client de HEADICT.COM. Le mot de passe dont bénéficie le client de HEADICT.COM est strictement confidentiel et personnel. En aucun cas, il ne doit être divulgué ou communiqué à quiconque. Dans le cas où le client de HEADICT.COM venait à perdre ou oublier son mot de passe, il lui incombe de prévenir à très bref délai le gestionnaire du site HEADICT.COM à l'adresse info@headict.com qui lui délivrera sous 48 heures un nouveau mot de passe qui se substituera de plein droit à l'ancien. Afin de faciliter l'identification du Client par la fourniture simultanée de l'adresse e-mail et du mot de passe, le Client autorise expressément HEADICT.COM à déposer sur le disque dur du client un fichier dit « cookie » ayant pour unique vocation à faciliter ladite identification.</p>
        </div>
        <div class="row">
            <h2>9. Livraisons</h2>
        </div>
        <div class="row">
            <h3><b>9.1 : France métropolitaine et Corse</b></h3>
            <p>Headict s’engage à envoyer les commandes le jour même si la commande est passée avant 14h et le lendemain si la commande est passée après 14h hors produits personnalisés. Pour les produits personnalisés : Il faut compter 7 à 10 jours pour une personnalisation avec texte (broderie ou gravure laser) et 2 à 3 semaines pour une personnalisation avec logo (broderie ou gravure laser). Les délais de livraison indiqués lors de la commande sont indicatifs nonobstant tout cas fortuit ou de force majeure qui retarderait la livraison indépendamment de la volonté et des diligences de HEADICT.COM (douanes, retard transporteur, météo…). Headict met tout en oeuvre pour que votre colis arrive à temps mais la date de livraison n’est pas garantie. </p>
            <h3><b>9.2 : DOM-TOM</b></h3>
            <p>Elle s'effectue dans un délai de 9 jours ouvrés maximum à compter de la réception de la commande, nonobstant tout cas fortuit ou de force majeure qui retarderait la livraison indépendamment de la volonté et des diligences de HEADICT.COM.</p>
        </div>
        <div class="row">
            <h2>10. Retour / Echanges</h2>
            <p>Le Client particulier dispose d’un droit de rétractation, qu’il peut exercer sans motif, dans un délai de sept (7) jours francs à compter de la livraison de la commande qui s’exercera par le retour à ses frais des produits neufs (dans leur emballage d’origine, non portés, non lavés) accompagné du numéro de commande à l’adresse suivante :
            HEADICT
            17 RUE DES ATELIERS
            74600 SEYNOD 
            FRANCE
            La Société HEADICT remboursera au Client les éventuelles sommes déjà versées, déduction faite des éventuels frais d’expédition. Les remboursements des produits seront effectués par la Société HEADICT dans un délai maximum de 30 jours après la réception par elle desdits produits. Le remboursement s’effectuera suivant le même mode de règlement choisi par le client au moment de sa commande ou par la remise de bon d’achat. Dans le cas d'un second échange, les frais de port seront à la charge du client.</p>
        </div>
        <div class="row">
            <h2>11. Traitements des colis non livrés par notre prestataire de transport</h2>
            <p>Ce sont les colis qui n'ont pas été remis au destinataire final pour les raisons suivantes : NPAI, non réclamé, refusé, avarie de transport, spoliation… 11.1 : Les retours pour cause de NPAI: Il s'agit des colis retournés par le prestataire chargé de la livraison sous la mention : N'habite Pas à l'Adresse Indiquée. Après réception et acceptation de votre colis par nos services, HEADICT.COM prendra contact avec le client afin de lui renvoyer sa commande (port à la charge du client) si le produit est encore disponible ou de procéder au remboursement de la commande selon le souhait du client. HEADICT.COM se réserve le droit de procéder au remboursement de la commande et non au renvoi de celle-ci dans le cas où plusieurs NPAI seraient identifiés. 11.2 : Les retours pour cause de "NON RECLAME": Il s'agit des colis qui n'ont pas été réclamés par le client au bureau de Poste, ou au point relais dans les délais impartis. Après réception et acceptation de votre colis par nos services, HEADICT.COM prendra contact avec le client afin de lui renvoyer sa commande (port à la charge du client) si le produit est encore disponible ou de procéder au remboursement de la commande selon le souhait du client. HEADICT.COM se réserve le droit de procéder au remboursement de la commande et non au renvoi de celle-ci dans le cas où plusieurs "NON RECLAME" seraient identifiés. 11.3 : Les retours pour cause de "REFUSE": Vous avez refusé votre colis au moment de la livraison. Après réception et acceptation de votre colis par nos services, un bon d'achat sera crédité sur votre compte client dans les 72h suivant la réception de votre colis. Vous pouvez demander l'annulation de votre bon d'achat et son remboursement. En cas de retour d'un colis suite aux causes "NPAI", "NON RECLAME", ou "REFUSE", HEADICT.COM ne garantit pas la réservation des articles commandés et pourra être amené à effectuer le remboursement de la commande si le ou les produits ne sont disponibles.</p>
        </div>
        <div class="row">
            <h2>12. Responsabilité</h2>
            <p>Pour toutes les étapes d'accès au site, de consultation, de remplissage des formulaires, de passation de commande, de livraison des articles ou de tout autre service, la société HEADICT.COM n'a qu'une obligation de moyens. En conséquence, la responsabilité de HEADICT.COM ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet et totalement extérieurs aux diligences et précautions prises par HEADICT.COM. En particulier, toute perturbation dans la fourniture du service, ou toute intrusion extérieure ou présence de virus informatique, ne saurait engager la responsabilité de HEADICT.COM. De même, tout fait qualifié de force majeure au sens de la jurisprudence de la Cour de Cassation exonère totalement HEADICT.COM de toute responsabilité. Les clients bénéficient des garanties accordées par les marques présentes sur le site.</p>
        </div>
        <div class="row">
            <h2>13. Propriété intellectuelle</h2>
            <p>Tous les éléments du site HEADICT.COM, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive de HEADICT.COM. Tout lien hypertexte renvoyant au site de HEADICT.COM et utilisant notamment la technique du framing, du deep-linking, du in-line linking ou toute autre technique de lien profond est en tout état de cause formellement interdit. Dans tous les cas, tout lien, même tacitement autorisé, devra être retiré sur simple demande de HEADICT.COM.</p>
        </div>
        <div class="row">
            <h2>14. Données nominatives</h2>
            <p>HEADICT.COM, pour les besoins du service, se réserve le droit de collecter des données nominatives relatives aux utilisateurs du site, notamment par le biais de « cookie » visé à l'article 8. À cet effet, le site HEADICT.COM est déclaré auprès de la CNIL sous le numéro : 1376576. HEADICT.COM se réserve en outre le droit de céder commercialement les données qu'elle aura collecté sur son site. Dans tous les cas, et conformément à la loi n°78-17 du 06 janvier 1978, tout utilisateur ou client du site peut à tout moment s'opposer à l'utilisation commerciale desdites données et bénéficie en outre d'un droit d'accès, de rectification et de suppression des données le concernant. Toutes les demandes relatives au présent article devront être envoyées par courrier électronique à l'adresse info@headict.com</p>
        </div>
        <div class="row">
            <h2>15. Produits personnalisés</h2>
            <p>Concernant les produits personnalisés avec texte ou logo, aucun échange ou réclamation ne sera accepté. Nous mettons tout en oeuvre pour nous rapprocher au maximum du design demandé, mais il se peut qu'il y ait des modifications mineures sur le rendu final. Le client assure à Headict que le texte ou le logo des produits personnalisés sont exempts de droits de tiers. Dans le cas d’éventuels violations des droits d’auteur, de la personnalité ou du droit au nom incombent totalement au client. Le client assure également qu’il n’enfreint aucun autre droit de tiers en individualisant le produit. Le client exemptera Headict de toute exigence et de tout droit invoqués pour cause d’infraction de tels droits de tiers et sera ammené à rembourse à Headict tous les frais de défense et autres dommages engendrés.</p>
        </div>
        <div class="row">
            <h2>16. Jeux-concours</h2>
            <p>Les Jeux-Concours organisés par HEADICT.COM sont libres et sans obligation d'achat. Ils sont ouverts à toute personne résidant en France métropolitaine ou en Corse. Les gagnants des Jeux-Concours sont avertis par un email qui leur transmet leur gain sous la forme d'un code de bon de réduction ou de chèque cadeau HEADICT.COM. Celui-ci est valable une fois sur l'ensemble du site, hors promotion et non cumulable avec d'autres offres promotionnelles. Hors opérations spéciales, les bons de réduction sont valables 3 mois et les chèques-cadeaux, un an. Si le montant du chèque-cadeau est supérieur à la valeur de la commande du Client, le solde sera déposé sur son compte chèque-cadeau. Il lui sera automatiquement proposé lors d'une prochaine commande sur la page de « Paiement ». Si le montant du chèque-cadeau est inférieur à la valeur de la commande, le Client devra la compléter par carte bancaire. HEADICT.COM ne divulguera en aucun cas les noms et adresses email des participants. En renseignant leur email les participants acceptent automatiquement de recevoir la newsletter de HEADICT.com HEADICT.COM se réserve le droit de reporter ou d'annuler un Jeu-Concours et ne saurait être tenu responsable de tout problème pouvant intervenir pendant la durée de l'opération.</p>
        </div>
    </div>
{% endblock %}