{% extends 'base.html.twig' %}
{% block body %}
<div class="container" id="legalsMentions">
    <div class="text-center">
        <h1> Mentions légales</h1> <br>
        <p><em>In hats we trust depuis 2009</em></p>
    </div>
    <div class="row">
        <p>Société Headict SAS <br> Société par Actions Simplifiées au capital de 15 000 euros, ayant son siège social au 17 rue des ateliers - 74600 SEYNOD, immatriculée au RCS d'Annecy sous le numéro 5</p>
    </div>
    <div class="row">
        <p>Numéro de TVA Intracommunautaire :FR59512301862</p>
    </div>
    <div class="row">
        <p>Contactez-nous</p>
    </div>
    <div class="row">
        <p><a href="tel: 04.50.45.80.02">Tél : 04.50.45.80.02</a></p>
    </div>
    <div class="row">
        <p>Par email via le <a href="#">formulaire de contact</a> <br>
            Directeur de la publication : Monsieur Antonin Lefebvre, ayant la qualité de président de la société HEADICT SAS</p>
    </div>
</div>
{% endblock %}