{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <form class="form-signin" action="{{ 'login' }}" method="post">
            <img class="mb-4 mt-4 text-right" src="{{ asset('img/logo_headict.svg') }}" alt="logo headict" width="72" height="72" style="background-color: black;border-radius: 50%">
            <h1 class="h3 mb-3">Déjà inscrit ?</h1>
            <label for="inputEmail" class="sr-only">Adresse E-mail</label>
            <input type="email" name="_username" id="inputEmail" class="form-control col-md-8 offset-2" placeholder="Adresse e-mail" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="_password" id="inputPassword" class="form-control col-md-8 offset-2 mb-2" placeholder="Mot de passe" required>
            {#<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me">Souvenez-vous de moi
                </label>
            </div>#}
            <button class="btn btn-lg btn-primary btn-block col-md-8 offset-2" type="submit">Connexion</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
        </form>
    </div>

{% endblock %}